@model GestaoEventos.Models.Categoria

@{
    ViewData["Title"] = "Detalhes da Categoria";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height:80vh;">


    <div class="card shadow-lg border-0 p-4" style="max-width:500px; width:100%; border-radius:12px;">

        <h3 class="text-info mb-3">
            <i class="bi bi-info-circle"></i> Detalhes da Categoria
        </h3>

        <hr />

        <div class="mb-4">
            <label class="form-label text-secondary fw-semibold">
                @Html.DisplayNameFor(model => model.Nome)
            </label>

            <div class="form-control bg-light">
                @Html.DisplayFor(model => model.Nome)
            </div>
        </div>

        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info w-100 btn-lg">
            <i class="bi bi-pencil-square"></i> Editar
        </a>

        <div class="text-center mt-3">
            <a asp-action="Index" class="text-secondary">Voltar</a>
        </div>

    </div>


</div>